html, body {
	background: #aaa;
	font-size:   14px;
	line-height: 18px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #333;
	height: 100%;
}

a { color: #333; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.container {
	background-color: #fff;
	border: 1px #000 solid;
	margin: 0px auto;
	margin-top: 50px;
	padding: 20px;
	width: 700px;
}

table {
	border-collapse:collapse;
	width: 100%;
	margin: 0px;
}

th, td {
	border: 1px #ccc solid;
	margin: 10;
	padding: 10;
}

h1, h2 {
	color: #888;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
}